<div class="movie col-xs-6 col-sm-4 col-md-3">
    <img class="poster" src="<%= image %>" alt="movie poster">
    <div class="movie-info">
        <p class="title"><%= title %></p>
        <div class="ratings">
            <span class="rating">Critics: <%= criticsScore %>%</span>
            <span class="rating">Audience: <%= audienceScore %>%</span>
        </div>
    </div>
</div>