$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

body, h1, h2, h3, h4 {
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

img { max-width: 100%; }

ul {
    list-style: none;
}

.movie-grid {
    $movie_width: 175px;

    ul {
        padding: 0;
    }

    .title {
        background-color: #2c3e50;
        color: #fff;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        max-width: $movie_width;
    }


    .movie {
        margin-bottom: 20px;

        .poster {
            width: $movie_width;
            height: 260px;
            overflow: hidden;
        }
    }
}
